# Project One:
Project Description

### Tasks
- [ ] Exploration     
- [ ] Explore the dataset  
- [ ] Research questions  
    - [ ] 3 - 5: Find some quenstions
        - [] How many attack per gender 
            - [] Separate per gender and quantity
        - [] How many attacks per species
            - [] separate by species, quantity and year
        - [] total cases
            - [] by country, area, location and year
        - [] The most dangerous location per activity
            - [] by activity, country, area and location      
    - [ ] Messy: transforming  
    - [ ] Visualizations: range of 3 - 5 
    
- [ ] DELIVER 06-02-2024
    - [ ] Github repo
    - [ ] Present: canva presentations (open link)
    - [ ] Max 5min
    - [ ]Tuesday 9am
     
    
    
    
### Completed Column ✓
- [x] Project on github: csv  
- [x] Open notebok: csv

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv("data/attacks.csv", encoding = 'ISO-8859-1', dtype=object)
data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
data.reset_index(inplace=True, drop=True)

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Case Number      8702 non-null   object
 1   Year             6300 non-null   object
 2   Country          6252 non-null   object
 3   Area             5847 non-null   object
 4   Location         5762 non-null   object
 5   Activity         5758 non-null   object
 6   Sex              5737 non-null   object
 7   Species          3464 non-null   object
 8   Case Number.1    6302 non-null   object
 9   Case Number.2    6302 non-null   object
 10  unique_coutries  212 non-null    object
 11  unique_Area      825 non-null    object
 12  unique_location  4108 non-null   object
dtypes: object(13)
memory usage: 2.6+ MB

In [108]:
new_data = data[['unique_coutries', 'unique_Area', 'unique_location']]
new_data.dropna(how='all')

         unique_coutries      unique_Area                      unique_location
0                    USA       California          Oceanside, San Diego County
1                    NaN          Georgia       St. Simon Island, Glynn County
2                    NaN           Hawaii                         Habush, Oahu
3              AUSTRALIA  New South Wales                   Arrawarra Headland
4                 MEXICO           Colima                             La Ticla
...                  ...              ...                                  ...
6296                 NaN              NaN
6297                 NaN              NaN                          Roebuck Bay
6299                 NaN              NaN                       Ocracoke Inlet
6300                 NaN              NaN                 Panama Bay 8ºN, 79ºW
6301  CEYLON (SRI LANKA)              NaN  Below the English fort, Trincomalee

[4319 rows x 3 columns]

In [88]:
data['unique_Area'] =  data['Area'].drop_duplicates()
data['unique_Area'].value_counts()

unique_Area
California            1
Nova Scotia           1
Illinois              1
Isles del Rosario     1
Wake Island           1
                     ..
Southern Japan        1
Cap Vert Peninsula    1
Marches region        1
Berry Islands         1
Moala Island          1
Name: count, Length: 825, dtype: int64